# PyCharm
.idea

# MAC OS
.DS_Store

# pytest
.coverage
.pytest
.pytest_cache

# mypy
*.mypy_cache

# Python
*__pycache__*
*.py[cod]
*.cpython-36.pyc
*.egg-info
*.pycharm_helpers*

# Patches (not to be committed by mistake)
*.patch
